* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    display: flex;
    border: 1px solid red;
}

nav#navegacao_vertical {
    border: 1px solid red;
    background-color: #4a898b;
    width: 11rem;
    display: inline-block;
    height: 100vh;
}

nav#navegacao_vertical h1 {
    padding: 1em;
    font-size: 2em;
}

nav#navegacao_vertical ul {
    padding-left: 2em;
    list-style-type: none;
}

nav#navegacao_vertical li {
    padding: 0.4em;
}

nav#navegacao_vertical a {
    display: block;
    color: white;
    text-decoration: none;
}

article#container {
    margin-left: 2em;
    margin-top: 1em;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    margin-left: 2em;
    /* border: 2px solid blue; */
}

h2 {
    flex-basis: 100%;
    margin-bottom: 1em;
}

section#navegacao_horizontal {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;

}

nav.menu_usuario {
    padding-right: 2em;
    border: 1px solid red;

}

div#conteudo {
    max-width: 90rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    border: 2px solid red;

}

div.card {
    margin: 2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid black;
    flex-basis: 10%;
    row-gap: 2em;
    text-align: center;
}

/* div.card div {
    border-bottom: 1px solid black;
} */

div ul {
    background-color: #4a898b;
    padding: 1em;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

div li {
    padding: 0.3em;
}

div.card div {
    padding: 1em;
}

div.card div a {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2em;

}

figure {
    background-color: aqua;
}