*{
    margin: 0;
    padding: 0;
    font-family: Garamond;
}
body{
    text-align: center;
    background-color: #F9F1DC;
}
ul{
    padding: 2em;
    margin-left: 20em;
    margin-right: 20em;
}
li {
    display: inline-block;
    text-decoration: none;
    margin: 0.5em;
}
nav ul{
    display: inline-block;
}
nav li{
    padding: 1.5em;
    border: 1px red solid;
    font-size: 15px;
}
section h2{
    font-family: Garamond;
    border-bottom: 1px solid #F5BD26 ;
}
section p{
    padding: 2em;
    margin-left: 40em;
    margin-right: 40em ;
}

footer{
    background-color: white;
    text-align: center;
}
address{
    padding: 2em;

}
figure img{
    border: 1px #F5BD26 solid; 
}


